@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Manrope:wght@400;500;600;700&family=Montserrat:wght@600&family=Raleway:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
/*Адаптив изображений*/
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden; }

body._lock {
  overflow: hidden; }

/*--------------------*/
/*
font-family: 'Inter', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
*/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?j4w8ge");
  src: url("../fonts/icomoon.eot?j4w8ge#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?j4w8ge") format("truetype"), url("../fonts/icomoon.woff?j4w8ge") format("woff"), url("../fonts/icomoon.svg?j4w8ge#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-search-fill:before {
  content: "\e902"; }

.icon-arrow-enter:before {
  content: "\e90f"; }

.icon-twitter:before {
  content: "\e900"; }

.icon-youtube:before {
  content: "\e901"; }

.icon-instagram:before {
  content: "\e903"; }

.icon-pointer:before {
  content: "\e904"; }

.icon-pointer-average:before {
  content: "\e905"; }

.icon-pointer-long:before {
  content: "\e906"; }

.icon-ship:before {
  content: "\e908"; }

.icon-car:before {
  content: "\e909"; }

.icon-train:before {
  content: "\e90a"; }

.icon-airplane:before {
  content: "\e90b"; }

.icon-email:before {
  content: "\e90c"; }

.icon-whatsapp:before {
  content: "\e90d"; }

.icon-telegram:before {
  content: "\e90e"; }

.icon-pointer-rotate:before {
  content: "\e907"; }

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px; }

@media (max-width: 1240px) {
  .container {
    max-width: 1064px; } }

@media (max-width: 1064px) {
  .container {
    max-width: 807px; } }

@media (max-width: 767px) {
  .container {
    max-width: none;
    padding: 0 15px; } }

.timer__body {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 18px; }
  .timer__body > div {
    margin-right: 20px; }

.timer__title-h1 {
  font-family: Manrope;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #fff;
  margin-bottom: 12px; }

.timer__title {
  font-family: Manrope;
  font-size: 54px;
  font-weight: 700;
  line-height: 47px;
  color: #fff;
  margin-bottom: 4px; }

.timer__text {
  font-family: Manrope;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #fff; }

.fill-application {
  border: 2px dashed #fff;
  padding: 3px;
  border-radius: 20px; }

.fill-application__wrapper {
  background: #fff;
  padding: 25px;
  padding-top: 80px;
  border-radius: 16px; }

.fill-application__text {
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #003A65;
  max-width: 50%;
  margin-bottom: 5px; }

.fill-application__title {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #003A65;
  position: relative; }
  .fill-application__title span {
    font-size: 14px;
    color: #1893ED;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  overflow-y: auto;
  overflow-x: hidden;
  pointer-events: none; }

.popup.open {
  opacity: 1;
  visibility: visible; }

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 30px 10px; }

.popup__content {
  background: #fff;
  color: #000;
  max-width: 800px;
  padding: 30px;
  position: relative; }

.popup__close {
  position: absolute;
  right: 30px;
  top: 30px; }

.popup__title {
  font-size: 40px;
  margin: 0 0 1em 0; }

.popup__close-img {
  width: 25px;
  height: 25px;
  display: block; }

.header {
  padding: 7px 0; }
  .header._active .header-shadow {
    opacity: 1;
    visibility: visible;
    pointer-events: auto; }
  .header._active .header-logo {
    margin-left: 7px; }
  .header._active .header-menu {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    pointer-events: auto; }
  .header._active .header__body {
    padding: 5px 23px; }

.header__body {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 10;
  background: #fff;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 5px 0px; }

.header-left {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1; }

.header-logo {
  width: 168px;
  height: 86px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  @media (max-width: 1440px) {
    .header-logo {
      width: calc(107px + 61 * ((100vw - 320px) / 1120)); } }
  @media (max-width: 1440px) {
    .header-logo {
      height: calc(55px + 31 * ((100vw - 320px) / 1120)); } }
  .header-logo img {
    width: 100%;
    height: 100%; }
  @media (max-width: 1064px) {
    .header-logo {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; } }

.header-icon {
  background: #1893ED;
  display: inline-block;
  width: 88px;
  height: 45px;
  border-radius: 30px;
  margin-right: 12px;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .header-icon span {
    font-family: Manrope;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    color: #fff; }
  .header-icon::before, .header-icon::after {
    content: "";
    left: 26%;
    position: absolute;
    height: 7%;
    width: 50%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: #fff;
    opacity: 0;
    visibility: hidden; }
  .header-icon._active {
    width: 45px; }
  .header-icon._active span {
    opacity: 0; }
  .header-icon._active::before {
    opacity: 1;
    visibility: visible;
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
    -ms-transform: rotate(-45deg) translate(0px, -50%);
    transform: rotate(-45deg) translate(0px, -50%); }
  .header-icon._active::after {
    opacity: 1;
    visibility: visible;
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
    -ms-transform: rotate(45deg) translate(0px, 50%);
    transform: rotate(45deg) translate(0px, 50%); }

@media (max-width: 1064px) {
  .header-telephon {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; } }

@media (max-width: 540px) {
  .header-telephon {
    display: none;
    max-height: 0;
    max-width: 0; } }

.header-telephon__number {
  font-family: Manrope;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: #C90910;
  text-align: center; }
  @media (max-width: 1440px) {
    .header-telephon__number {
      font-size: calc(18px + 6 * ((100vw - 320px) / 1120)); } }
  @media (max-width: 1440px) {
    .header-telephon__number {
      line-height: calc(28px + 8 * ((100vw - 320px) / 1120)); } }

.header-telephon__text {
  font-family: Manrope;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  text-align: center; }
  @media (max-width: 1440px) {
    .header-telephon__text {
      font-size: calc(10px + 3 * ((100vw - 320px) / 1120)); } }
  @media (max-width: 1440px) {
    .header-telephon__text {
      line-height: calc(12px + 8 * ((100vw - 320px) / 1120)); } }

.header-buttons {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 1064px) {
    .header-buttons {
      display: none; } }

.header-buttons-item {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #000000;
  padding: 7px 17px;
  margin-right: 20px;
  border-radius: 30px; }
  @media (max-width: 1440px) {
    .header-buttons-item {
      margin-right: calc(1px + 19 * ((100vw - 320px) / 1120)); } }
  .header-buttons-item:last-child {
    margin-right: 0; }

.header-buttons-item__icon {
  color: #000;
  font-size: 24px;
  margin-right: 7px; }
  @media (max-width: 1440px) {
    .header-buttons-item__icon {
      font-size: calc(20px + 4 * ((100vw - 320px) / 1120)); } }

.header-buttons-item__text {
  font-family: Manrope;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #000; }
  @media (max-width: 1440px) {
    .header-buttons-item__text {
      font-size: calc(14px + 2 * ((100vw - 320px) / 1120)); } }

.header-shadow {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 4;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  pointer-events: none;
  opacity: 0;
  visibility: hidden; }

/*
.header-menu {
	position: absolute;
	left: 0;
	bottom: -8px;
	width: 100%;
	background: #1893ED;
	padding: 67px 100px;
	transform: translateY(105%);
	border-radius: 10px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease 0s;
	pointer-events: none;


	@media (max-width: 1064px) {
		padding: 40px 50px;
	}
	@media (max-width: 620px) {
		padding: 20px 15px;
	}
}

.header-menu__wrapper {
	width: 100%;
	height: 100%;
	max-height: 65vh;
	overflow: auto;
	//max-height: 80vh;
	//padding: 67px 100px;
	&::-webkit-scrollbar {
		width: 3px;
	}
	&::-webkit-scrollbar-track {
		background-color: rgba(229, 229, 229, 0.5);
	}
	&::-webkit-scrollbar-thumb {
		//box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
		background: #E8E8E8;
		border-radius: 16px;
		display: block;
		max-height: 30px;
	}

	@media (max-width: 767px) {
		
	}
}*/
.header-menu {
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  background: #1893ED;
  padding: 67px 0px;
  -webkit-transform: translateY(105%);
  -ms-transform: translateY(105%);
  transform: translateY(105%);
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  pointer-events: none; }
  @media (max-width: 1064px) {
    .header-menu {
      padding: 40px 0; } }
  @media (max-width: 620px) {
    .header-menu {
      padding: 4vh 0; } }

.header-menu__wrapper {
  width: 100%;
  height: 100%;
  max-height: 65vh;
  max-height: calc(75vh - 134px);
  overflow: auto;
  padding: 0px 100px; }
  .header-menu__wrapper::-webkit-scrollbar {
    width: 3px; }
  .header-menu__wrapper::-webkit-scrollbar-track {
    background-color: rgba(229, 229, 229, 0.5); }
  .header-menu__wrapper::-webkit-scrollbar-thumb {
    background: #E8E8E8;
    border-radius: 16px;
    display: block;
    max-height: 30px; }
  @media (max-width: 1064px) {
    .header-menu__wrapper {
      padding: 0px 50px;
      max-height: calc(65vh - 80px); } }
  @media (max-width: 620px) {
    .header-menu__wrapper {
      max-height: calc(65vh - 40px);
      padding: 0px 15px; } }

.header-menu__title {
  font-family: Manrope;
  font-size: 30px;
  font-weight: 700;
  line-height: 42px;
  color: #fff;
  margin-bottom: 20px; }
  @media (max-width: 1440px) {
    .header-menu__title {
      font-size: calc(24px + 6 * ((100vw - 320px) / 1120)); } }
  @media (max-width: 1440px) {
    .header-menu__title {
      line-height: calc(33px + 9 * ((100vw - 320px) / 1120)); } }

.header-menu__body {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 30px; }
  @media (max-width: 767px) {
    .header-menu__body {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.header-menu-navigation {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 27%;
  flex: 0 0 27%;
  padding-right: 30px; }
  @media (max-width: 1240px) {
    .header-menu-navigation {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      padding-right: 25px; } }
  @media (max-width: 1240px) and (max-width: 1440px) {
    .header-menu-navigation {
      padding-right: calc(0px + 25 * ((100vw - 320px) / 1120)); } }
  @media (max-width: 1064px) {
    .header-menu-navigation {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
      flex: 0 0 48%;
      padding-left: 0;
      padding-right: 0; } }
  @media (max-width: 767px) {
    .header-menu-navigation {
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1; } }

.header-menu-navigation__link {
  display: block;
  margin-bottom: 15px; }
  .header-menu-navigation__link a {
    font-family: Manrope;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #fff; }

.header-menu-contacts {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 21%;
  flex: 0 0 21%;
  padding-left: 29px; }
  .header-menu-contacts .header-menu__title {
    margin-bottom: 30px; }
  @media (max-width: 1240px) {
    .header-menu-contacts {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      padding-right: 25px;
      padding-left: 25px; } }
  @media (max-width: 1240px) and (max-width: 1440px) {
    .header-menu-contacts {
      padding-right: calc(0px + 25 * ((100vw - 320px) / 1120)); } }
  @media (max-width: 1240px) and (max-width: 1440px) {
    .header-menu-contacts {
      padding-left: calc(0px + 25 * ((100vw - 320px) / 1120)); } }
  @media (max-width: 1064px) {
    .header-menu-contacts {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
      flex: 0 0 45%;
      padding-left: 0;
      padding-right: 0; } }
  @media (max-width: 767px) {
    .header-menu-contacts {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2; } }

.header-menu-contacts__blok {
  margin-bottom: 20px; }
  .header-menu-contacts__blok:last-child {
    margin-bottom: 0; }

.header-menu-contacts__blok_link .header-menu-contacts__title span.header-menu-contacts__title_text {
  text-decoration: underline; }

.header-menu-contacts__blok_link .header-menu-contacts__title span.header-menu-contacts__title_icon {
  font-size: 14px;
  margin-left: 7px; }

.header-menu-contacts__title {
  font-family: Manrope;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #fff; }

.header-menu-contacts__text {
  font-family: Manrope;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  color: #fff; }

.header-menu-stock {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 42.8%;
  flex: 0 0 42.8%;
  padding-right: 135px; }
  .header-menu-stock .header-menu__title {
    line-height: 36px;
    margin-bottom: 17px; }
  @media (max-width: 1240px) {
    .header-menu-stock {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      padding-left: 25px;
      padding-right: 0; } }
  @media (max-width: 1240px) and (max-width: 1440px) {
    .header-menu-stock {
      padding-left: calc(0px + 25 * ((100vw - 320px) / 1120)); } }
  @media (max-width: 1064px) {
    .header-menu-stock {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 0px;
      flex: 0 0 0px;
      max-width: 0;
      display: none; } }

@media (max-width: 767px) {
  .header-menu-links {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }

.header-menu-link__text {
  font-family: Manrope;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #fff;
  text-decoration: underline; }

.header-menu-link__icon {
  font-size: 18px;
  color: #fff;
  margin-left: 8px; }

.header-menu-mb {
  margin-top: 40px;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  @media (min-width: 1064.1px) {
    .header-menu-mb {
      display: none; } }
  @media (max-width: 767px) {
    .header-menu-mb {
      display: block; } }

.header-menu-mb__text {
  padding-right: 20px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%; }

.header-menu-mb__content {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  padding-top: 40px; }
  @media (max-width: 767px) {
    .header-menu-mb__content {
      padding-top: 0; } }
